<div id="current-view"></div>
<!-- <div id="footer">m@mpn.xyz &copy; 2015</div> -->
<div id="nav">
	<a href=""><div class="work" data-name="work">Kostenlos</div></a>
	<a href="#/projects"><div>Projects</div></a>
	<a href="#/links"><div>Links</div></a>
</div>
<div id="loader"></div>
<% if (Backbone.history.fragment != "") { %>
	<a href="/#"><div id="home_btn"><span class="ion-ios-arrow-left"></span></div></a>
	<div id="about_btn"><span class="ion-ios-help-empty"></span></div>
	<div id="about_bubble"><a href="mailto:m@mpn.xyz">m@mpn.xyz</a></div>
<% } %>